includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#^Trait Ritechoice23\\Saveable\\Traits\\HasSaves is used zero times and is not analysed\.$#'
        - '#^Trait Ritechoice23\\Saveable\\Traits\\IsSaveable is used zero times and is not analysed\.$#'
